<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.filament.simple"
    tools:ignore="ProtectedPermissions">

    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />

    <!-- Indicates that this app requires Google Play Services for AR ("AR Required") and results in
         the app only being visible in the Google Play Store on devices that support ARCore.
         For an "AR Optional" app, remove this tag. -->
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <application
        android:name="com.filament.simple.core.App"
        android:allowBackup="false"
        android:appComponentFactory="com.sakura.chat"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/UITheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory,android:allowBackup">
        <!--        Filament1Act-->
        <!--        View3DModelsAct-->
        <!--        ARAct-->
        <!--        Activity-->
        <activity
            android:name="com.filament.simple.business.Filament1Act"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="locked"
            android:theme="@style/UITheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.filament.simple.business.ARAct"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="locked"
            android:theme="@style/UITheme" />
        <activity
            android:name="com.filament.simple.business.Activity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="locked"
            android:theme="@style/UITheme" />
        <!--        <meta-data-->
        <!--            android:name="com.google.ar.core"-->
        <!--            android:value="optional" />-->
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>